@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
box-sizing: border-box;
}
body{
background: rgb(100, 96, 96) url('natural-goods-berlin-KhUIvD_z3Hw-unsplash.jpg') no-repeat center/cover;
background-attachment: fixed;
height: 100%;
font-family: Roboto;
margin: 0;
}
p,h1,h2,h3,a,ul{
margin: 0;
padding: 0;
text-decoration: none;
color: black;
}
nav a:hover{
    border-bottom: 3px solid black;
}
nav a:active{
    border-bottom: 3px solid black;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li{
  list-style-type: none;
  margin-left: 40px;
}

nav h1{
  font-size: 3em;
}

footer{
  color:#777;
  text-align: center;
  margin: 80px auto 20px;
}

h2{
  margin-bottom: 40px;
  text-align: center;
}

h3{
  text-transform: capitalize;
  margin-bottom: 8px;
}


.all-journal a{
  display: block;
  background: white;
  border-radius: 10px;
  padding-left: 30px;
  width: 490px;
  margin: 40px auto;
  list-style: none;
  border-left: 6px solid darkgreen;
  transition: 1s;
}

.all-journal a:hover{
  transform:scale(1.1)
}

.all-journal a:hover h3{
  color: darkgreen;
}

.details{
  position: relative;
}

.delete{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
}

.delete:hover{
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(245, 9, 9, 0.2);
}


.create-journal form{
  max-width: 400px;
  margin: 0 auto;
}

.create-journal input,
.create-journal textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  font-family: Roboto;
}

.create-journal label{
  display: block;
  margin-top: 24px;
}


textarea{
    height: 150px;
    font-family: Roboto;
}

.create-journal button{
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  font-family: Roboto;
}

.button-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.create-journal button:hover{
    background: coral;
}
