<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie enim massa, ac lobortis mi hendrerit vel. Sed id sem eget risus malesuada tempor sit amet eu ligula</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie enim massa, ac lobortis mi hendrerit vel. Sed id sem eget risus malesuada tempor sit amet eu ligula</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie enim massa, ac lobortis mi hendrerit vel. Sed id sem eget risus malesuada tempor sit amet eu ligula</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>