<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="failed content">
        <h2>404 Error Found</h2>
        <p>It appears you've hit the dead end</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>